<div class="h-75 d-flex justify-content-center   bg-body-secondary align-items-center">
  <div class=" w-100 d-flex justify-content-center" style="margin-top: 50px;">
    <div class="position-absolute z-1  " style="top: 110px;;">
      <input class="rounded-2 py-2 ps-2 " id="searchInput" oninput="searchUsers()" type="text" placeholder="search" >
      <a href="/admin/createuser">
        <button class="rounded-2 py-2 " >create User</button>
      </a>
    </div>
    <table class="table table-bordered shadow-lg  w-75 mx-auto table-hover position-absolute " style="top: 160px;" >
      <thead class="table-dark">
      <th>User name</th>
      <th>Email</th>
      <th>Edit</th>
    </thead>
    <% if(userData.length>0){ %> <% userData.forEach(data=>{%>
    <tr>
      <td>
        <p class="mt-4"><%= data.username %></p>
      </td>
      <td>
        <p class="mt-4"><%= data.email %></p>
      </td>
      <td style="width: 20%" class="text-center ">
        <a href="/admin/editUser/<%= data._id %>">
          <button class="btn btn-warning">edit</button>
        </a>
          <a href="/admin/deleteUser/<%= data._id %>" onclick="return confirm('Are you want to delete <%= data.username %> ?')">
            <button class="btn btn-danger">delete</button>
          </a>
        </a>
      </td>
    </tr>
    <% }) %> <% } else { %>
    <tr>
      <td colspan="3" class="text-center">
        <p class="mt-3">No users</p>
      </td>
    </tr>
    <% } %>
  </table>
</div>
</div>

<script>
  function searchUsers() {
    console.log("executed");
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("searchInput");
    filter = input.value.toUpperCase();
    table = document.querySelector(".table");
    tr = table.getElementsByTagName("tr");

    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0]; // Change index to the column you want to search
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>